@charset "utf-8";
/* CSS Document */
*{
   margin:0px;
   padding:0px;	
   font-family:Calibri;	
}
@font-face {
  font-family: 'Calibri';
  src: url:url(../fonts/Calibri.ttf);}
body{
   font-family:Calibri;	
}

#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}
.main{
  width:100%;
  height:auto;	
}
header{
   width:100%;
   height:auto;	
}
.sub-header{
   width:86%;
   margin:auto;	
}
.logo{
   width:12%;
   height:auto;
   margin:0px;
   padding:5px 0px;
   float:left;	
}
.logo a img{width:100%;
	}
.clear{
   clear:both;	
}
.border-bg{
   width:100%;
   height:3px;
}
.border-bg{
   width:100%;
   overflow-x:hidden;	
}

.contact-div{
   width:100%;	
}
.content{
	margin:1px auto;
	width:99%;
	}
.offer-left-div{
   width:20%;
   float:left;	
   height:600px;
   position:absolute;;
   background:#5d5d5d;
}
.offer-right-div{
   width:80%;
    min-height:600px;
   background-color:#d9e0e7;
   float:right;	
}


/*********************latest tabs ******************/

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
 
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  position:relative;
}
#cssmenu {
  /*width: 267px;*/
  border-bottom:1px solid #008888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
  background: #2d353c;
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 10px 10px;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  color:#4e5e69;
  font-size: 1.2em;
  font-weight: 300; 
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #2d353c;
 
}

#cssmenu > ul > li {
  background: #00acac;
 
}
#cssmenu > ul > li:hover {
  background: #00acac;
  
}
#cssmenu ul ul li i{
	color:#494949;
	}


#cssmenu > ul > li > a {

  font-size: .9em;
  display: block;
  background: url(menu_images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #01a1a1;
  border-top: none;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 10px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 96% center no-repeat;
  margin-left:16px;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 96% center no-repeat;
  
}

#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #2d353c;
  border-top: none;
  background: #1a2229;
  
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: .8em;
  font-weight: normal;
}
.icon1{
  top:11px;
  font-size:15px !important;
  position: absolute;
  left: 7px;
  font-weight:bold;
  color: #f1f8ff;
}
#cssmenu ul ul a:hover {
  color: #fcfcfc;
}
#cssmenu ul ul li:hover i {
	color:#Fcfcfc;
	}
#cssmenu ul ul a:after :hover{
	content: '';
	color:#Fcfcfc;}
.icon{
	position:absolute;
	top:13px;
	left:5px;
	color:#fff;
	}

.active{
	color:#0c837e;}

.content-total-box h3{
	text-transform:uppercase;
	font-weight:normal;
	font-size:25px;
	margin:5px 25px;
	line-height:50px;
	color:#555555;
	}	
.reqest{
	padding:10px;
	width:80%;
	
	background-color:#f2f2f2;
	}		

.left-upload{
	 margin:0px auto;
	 padding:10px;
	width:70%;	
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);	
}
.left-upload label{ 
width:400px;
margin:0px auto;}
.upload-pro label{
	float:left;
	 line-height: 20px;
    margin-top: 6px;
    width: 135px;
	}
.upload-pro select{
	width:345px;
	padding:8px;
	outline:none;
	font-size:14px;
	background:#FFF url(../images/down.png) no-repeat center right;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	float:left;
	border-radius:5px;
	border:1px solid #d8d8d8;}	
.upload-pro textarea{
	width:335px;
	height:75px;
	padding:5px;
	border-radius:5px;
	border:1px solid #d8d8d8;
	}	
.upload-pro input{
	width:330px;
	padding:8px;
	outline:none;
	font-size:14px;
	float:left;
	border-radius:5px;
	border:1px solid #d8d8d8;
}
.header-sub .upload-pro select{
	border: 1px solid #d8d8d8;
    border-radius: 5px;
    float: left;
    font-size: 14px;
    margin: 0;
    outline: medium none;
    padding: 4px;
    width: 348px;
}
.base-int input{
	width:163px;
	float:left;
	padding:8px;
	outline:none;
	font-size:14px;
	float:left;
	border-radius:5px;
	border:1px solid #d8d8d8;
	margin-right:5px;
	}
.upload-form{
   margin-top:20px;	
}
.upload-form label{
   margin-bottom:18px;
   padding:0px;
   display:block;	
}	
.map{
	padding:3px;
	border:2px solid #3300CC;
	margin-left:25px ;}
.list{
	margin-left:20px;
	list-style:none;
	}	
.list li{
	color:#595959;
	line-height:25px;
	font-size:16px;
	}

.list li span{
	width:120px;
	text-transform:capitalize;
	color:#333;
	display:inline-block;}	
	
.order-tab{
   width:100%;
   margin-top:10px;	
}
.order-tab, th, td {
    border: 1px solid #eaeaea;
	padding:6px 5px;
	font-size:14px;
    border-collapse: collapse;
	text-align:left;
}
.order-tab th{
   background-color:#f8f8f8;
   color:#5d5a5a;	
   
}
.order-tab tr:nth-child(even) {
    background-color:#eeeff0 !important;
}
.order-tab tr:nth-child(odd) {
    background-color:#f1f3f4; 
}
.main-table{
	width:96%;
	margin:10px auto;
	background:#fff;
}
.header-sub{
	height:50px;
	}
.header-sub select{
	float:left;
	padding:2px;
	border:1px solid #969696;
	width:65px;
	appearance:none;
	font-size:13px;
	border-radius:5px;
	-moz-appearance:none;
	background:#fff url(../images/down.png)no-repeat center right;
	margin:10px 15px;
	}	
	
.header-sub select option{
	padding:3px;}
.header-sub p{
	color:#7c7c7c;
	line-height:50px;
	float:left;
	font-size:14px;}
		
.header-inp{
	margin:10px 20px;
	float:right;}
.header-inp label{
	color:#4b4b4b;
	margin-right:5px;
	font-size:15px;}		
.header-inp input {
	padding:5px;
	background:#edf0f5;
	border:1px solid #dcdcdc;
	border-radius:3px;
	font-size:15px;}
		
.table-header{
	height:40px;
	position:relative;
	background:#242a30;
	border-radius:3px 3px 0px 0px;
	}	
.table-header h4{
	line-height:40px;
	color:#fff;
	float:left;
	font-weight:normal;
	margin-left:20px;
	}	
.header-right{
	float:right;
	position:absolute;
	right:10px;
	}
.header-right ul li{
	list-style:none;
	float:left;
	margin-left:10px;
	}	
.header-right ul li a{
	color:#fff;
	text-decoration:none;
	line-height:40px;
	padding:6px 7px;
	font-size:14px;
	background:#00acac;
	border-radius:3px;
	}		
.table2{
	margin:2px auto;
	width:98%;
	}	
	
.edit{
		padding:3px 6px;
	color:#404040;
	width:80%;
	text-align:center;
	border-radius:4px;
	margin:2px auto;
	cursor:pointer;
	}	
	
.cancel{
	padding:3px 6px;
	color:#404040;
	
	cursor:pointer;
	text-align:center;
	border-radius:4px;
	margin:2px auto;
	}	
.edit:hover{
	color:#5d5d5d;}		
.cancel:hover{
	color::#5d5d5d;}	
	
	
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
	float:right;
	margin-right:5px;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,.pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 9px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg>li>a,.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm>li>a,.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
}



.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.pager li {
    display: inline;
}

.pager li>a,.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

	
	
.sub{
	border:1px solid #666;
	color:#fff;
	text-transform:capitalize;
	border-radius:5px;
	margin:2px auto;
	width:75px;
	margin-left:35%;
	cursor:pointer;
	background:#323b42;
	padding:6px 8px;}	
.sub:hover{
	background:#485057;}
	
.login-main-box{
     width:100%;
	 height:515px;
	 background-color:#d9e0e7;}	
	
.login{
	margin:0px auto;
	border:1px solid #d9e0e7;
	width:100%;

	}	
.login-text{

	width:30%;
	padding:10px;
	margin:20px auto;
	}
.login-right-box{
	float:left;
	width:49%;}	
.login-right-box h2{
	font-weight:normal;
	color:#9ca1a7;	
	font-size:25px;
	float:left;
	}
.login-right-box img{
	float:left;}		
	
.login-right-box p{color:#9ca1a7;}
.login-right-box i{
	color:#ced5dc;
	float:right;}
.login-bg{
	width:100%;
	height:250px;
	background:#2d353c;}	
.inp-box{
	margin-top:15px;
	}	
.inp-box input{
	width:95%;
	padding:10px 7px;
	border-radius:3px;
	}
.form1{
	margin-top:40px;}	
.inp-box .btn{
	width:100%;
	background:#00acac;
	color:#fff;
	font-size:18px;
	cursor:pointer;
	border:1px solid #009797;
	}	
	
.inp-box .btn:hover{
	background:#04baba;}
	
.feed{
	margin-top:10px;
	position:absolute;
	margin-left:25px;
	padding:5px;}	
.feed input{
	padding:5px;
	background:#edf0f5;
	border:1px solid #dcdcdc;
	border-radius:3px;
	font-size:15px;}
.feed-btn{
	border:1px solid #333;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
    margin-left:15px;
	cursor:pointer;
	padding:4px 8px !important;
	background:#242a30  !important;
	}		
.feed-btn:hover{
		background:#424548  !important;
	}	
.form-inbox{
	background:#FFF;
	 width:49%;
	 float:left;}	
.redio{
	width:350px;
	float:right;}
.redio input{
	float:left;
	margin-top:3px;
	width:20px;}	
 .radio-box{ 
  float:left;
  margin-top:5px;
  width:115px;
}		 
.radio-box span {
	line-height:18px;
	display:inline-block;}
.time-input{
	width:70%;
	float:left;}	

.time-input input{
	width:26%;
	margin-right:7px
	}
.am{
	float:left;
	width:32% !important;}	

.text-bold a{
	color:#fff !important;
	font-weight:bold !important;}	
.text-bold i{
	color:#fff !important;
	}	
.edit-center{
	text-align:center;}

.tech{	
	position:absolute;
	bottom:5px;
	right:10px;}
	
.tech a{
	color:#fefefe;
	text-decoration:none;
	line-height:15px;
	font-size:14px !important;}		
.tech img{
	left:125px;
	margin-top:5px;
	width:50px;}	
.tech a:hover{
	color:#00acac ;}		
.add-driver-inp{
	display:none;
	}
.submit{
	border:none;
	padding:5px 8px;
	background:#00acac ;
	color:#FFF;
	margin-left:25px ;
	width:100px;
	}
.admin_success{ text-align:center; font-weight:bold; color:green;}
.admin_faile{ text-align:center; font-weight:bold; color:red;}	
	
	
		/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
  
}
 @media only screen and (max-width: 780px) {
  }
   
